@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0%;
    padding: 0%;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
     display : flex;
     align-items: center;
     list-style: none;
     height: 65px;
     background-color: black;
     color: white;

}

nav ul li {
    
    padding: 0 12px;
}
.brand img{
    width: 48px; 
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
     min-height: 70vh;
     background-color: black;
     color: white;
     font-family: 'Varela Round',sans-serif;
     display: flex;
     width: 70%;
     margin: 23px auto;
     border-radius: 12px;
     padding: 34px;
     background-image: url('file:///C:/Users/asus/Desktop/spotify/YOONGI.jpg');
}
.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    margin:  12px 0;
    
}
.icons{
    margin-top: 14px;
    
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItems{
    border-image: url('file:///C:/Users/asus/Downloads/A_%20Kurtz.jfif');
     height: 40px;
     display: flex;
     background-color: white;
     width: 80%;
     color: black;
     margin: 12px 0;
     justify-content: space-between;
     align-items: center;
     border-radius: 60px;
     
}
.songItems img{

    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
    
}
.timespan{
    margin: 0 23px;
    
}
.timespan i{
    cursor: pointer;
}
.songInfo{
    margin-top: 10px;
    position: absolute;
    font-family: 'Varela Round',sans-serif;
    left: 10vw;
    
    
}
.songItemPlay{
    cursor: pointer;
}
.songInfo img {
    opacity: 1;
    transition:opacity 0.3s ease-in;
}